build/
data/networks/
data/images/test
data/images/qa/results
logs/
*.pyc
*.tar.gz
*.pem


# Ignore Python cache files
*.pyc
__pycache__/

# Ignore test outputs (optional)
data/images/test/
data/images/qa/results/

# Ignore large model files
models/*.pth
models/*.onnx

# DO NOT ignore your dataset or inference outputs
# Keep these folders so they get committed:
#   - data/testdataset/
#   - inference_outputs/
